recursive-include walandmarks/data *.csv
recursive-include walandmarks/images *
recursive-include walandmarks/model *.png
recursive-include walandmarks/model *.keras
recursive-include walandmarks/model *.md